@charset "utf-8";

.grid {
  display: grid;
}

.flex {
  display: flex;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: var(--color5);
  font-size: var(--font-size34);
  font-weight: 700;
  text-align: center;
}

h4 {
  color: var(--color5);
  font-size: var(--font-size15);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0 0 30px 10px;
}
