@charset "utf-8";

/* 변수 선언 */

:root {
  --main-font: "Noto Sans KR", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

  --font-size13: 0.813rem;
  --font-size14: 0.875rem;
  --font-size15: 0.938rem;
  --font-size18: 1.125rem;
  --font-size20: 1.25rem;
  --font-size22: 1.375rem;
  --font-size48: 3rem;
  --font-size56: 3.5rem;
  --font-size60: 3.75rem;
  --font-size64: 4rem;

  --point-color: #18c4ff;

  --color1: #fff;
  --color2: #000;
  --color3: #333;
  --color4: #212529;
  --color5: #666;
  --color6: #e8f9ff;
  --color7: #eee;
  --color8: #282828;
}
